---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Default variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Palette
$brown: #5E412F;
$beige: #FCEBB6;
$blue:  #78C0A8;
$orange: #F07818;
$gold: #F0A830;

// Width of the content area
$content-width:    90%;
$header-height: 170px;
$triangle-side: 85px;
$triangle-equi: 148px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
    //     .wrapper {
	//         padding-right: $spacing-unit / 2;
	//         padding-left: $spacing-unit / 2;
	//     }
    // }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
	@content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting"
;

// main area
.page-content {
    position: absolute;
    top: $header-height;
    padding-top: 15px;
    width: 100%;
}

// main header
header .site-header {
    top: -5px;
    background-color: $brown;
    height: $header-height;
    margin: 0;
    padding: 0;
}

header a.site-title, a.site-title:visited {
			 color: $brown;
			 font-size: 23px;
			 line-height: 15px;
			 text-align: center;
			 text-decoration: none;
			 font-variant: small-caps;
		     }

header a.site-title:hover {
    color: $orange;
}

header #main {
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 0;
    width: 100%;
    overflow:hidden;
    height: $header-height;
    background-color: $brown;
    border-bottom: 8px solid $blue;
}

// round header logo
.round {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.round img {
    height: 100%;
    width: 100%;
}

// logo decoration
header #submain {
    text-align: center;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: $triangle-side solid transparent;
    border-bottom: $triangle-side solid transparent;
    border-left: $triangle-equi solid $blue;
    float: right;
    top: 0;
}

.arrow-left {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: $triangle-side solid transparent;
    border-bottom: $triangle-side solid transparent;
    border-right: $triangle-equi solid $blue;
    float: left;
    top: 0;
}

header #logo{
    top: 0;
    margin: 0;
    width: auto;
    overflow: hidden;
    height: 100%;
    padding-top: 8px;
    background-color: $blue;
}

header .fa {
    color: $orange
}

// home page post summary
.post-sum {
    padding: 0;
    width: 100%;
    opacity: 0.87;
    overflow :hidden;
    background-color: $gold;
}

.even {
    float:right;
}
.post-sum:hover {
    opacity: 1;
}

.post-main {
    width: 49.8%;
    height: 180px;
    display: inline-block;
}

// main page: post describtion
		   .thumb {
    float: left;
    width: 180px;
    height: 180px;
}

.text {
    height: 166px;
    margin-left: 160px;
    padding: 7px;
    text-align: right;
    overflow:auto;
}

a.post-link {
    color:$brown;
    font-variant: small-caps;
    font-weight: bold;
}

.post-meta {
    color:$brown;
    font-weight: bold;
}