---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Default variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 38%);
$grey-color-dark:  darken($grey-color, 25%);

// Palette
$brown: #5E412F;
$beige: #FCEBB6;
$blue:  #78C0A8;
$orange: #F07818;
$gold: #F0A830;

// Width of the content area
$content-width:    70%;
$header-height: 170px;
$triangle-side: 85px;
$triangle-equi: 148px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
@media screen and (max-width: $device) {
@content;
}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"custom-syntax-highlighting"
;

body{
font-family: "Trebuchet MS", Helvetica, sans-serif;
overflow-y: scroll;
}

// main area
.page-content {
position: absolute;
top: $header-height;
padding-top: 35px;
width: 100%;
}

// main header
header .site-header {
top: -5px;
background-color: $brown;
height: $header-height;
margin: 0;
padding: 0;
}

header a.site-title, a.site-title:visited {
display: block;
padding: 0 15px;
color: $brown;
font-size: 28px;
line-height: 30px;
text-align: center;
text-decoration: none;
font-variant: small-caps;
letter-spacing: 3px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

header a.site-title:hover {
color: $beige;
text-decoration: underline;
}

header ul#nav li{
float: left;
}
ul#nav {
padding:0;
margin:0;
list-style-type:none;
}

header #main {
position: fixed;
z-index: 1;
text-align: center;
top: 0;
width: 100%;
overflow:hidden;
height: $header-height;
background-color: $brown;
border-bottom: 2px solid white;
}

header #main:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 6px solid  $blue;
}

// round header logo
.round {
display: inline-block;
border-radius: 50%;
overflow: hidden;
}

.round img {
height: 100%;
width: 100%;
}

// logo decoration
header #submain {
text-align: center;
width: 40%;
height: 100%;
margin: 0 auto;
overflow: hidden;
}

.arrow-right {
width: 0;
height: 0;
border-top: $triangle-side solid transparent;
border-bottom: $triangle-side solid transparent;
border-left: $triangle-equi solid $blue;
float: right;
top: 0;
}

.arrow-left {
width: 0;
height: 0;
display: inline-block;
border-top: $triangle-side solid transparent;
border-bottom: $triangle-side solid transparent;
border-right: $triangle-equi solid $blue;
float: left;
top: 0;
}

header #logo{
top: 0;
margin: 0;
width: auto;
overflow: hidden;
height: 100%;
padding-top: 8px;
background-color: $blue;
}

header .fa {
color: #f47d36;
}


header.site-header .fa {
color: #f47d36;
font-size: 28px;
line-height: 30px;
}


// home page post summary
.home {
text-align: center;
}

.post-main {
text-align: center;
overflow: hidden;
width: 200px;
height: 200px;
display: inline-block;
}

.post-main img {
width: 100%;
height: 100%;
}

.post-main a:hover{
text-decoration: none; }

// main page: post describtion
.post-main .textbox {
height: 100px;
width:100%;
background-color: rgba(255, 255, 255, 0.8);
position:relative;
top:-133px;
visibility: hidden
}

.post-main .title {
position: relative;
background-color: rgba(255, 255, 255, 0.8);
bottom:133px;
padding-left:15px;
padding-right:15px;
}

.post-main .text {
padding:10px;
visibility: hidden;
transform: translateY(0);
transition: 0s;
}

.post-main:hover .text {
visibility:visible;
opacity: 1;
transform: translateY(-15px);
transition: 1.2s;
}

.post-main:hover .textbox {
visibility:visible;
opacity: 1;
}

.post-link {
line-height:0.7em;
color:$brown;
font-size:20px;
font-variant: small-caps;
font-weight: bold;
}

.post-meta, .post-main a{
color:$brown;
font-weight: bold;
font-size: 10px
}


.inline-code{
    background-color: $beige;
    font-family: "Courier New";
    font-size:18px;
    letter-spacing: -1.5px
}

.keyword{
    color: $gold;
    font-weight: bold
}


.citations{
    color: $blue;
    font-weight: bold
}



h4 {
  color: $blue;
  letter-spacing: 2px;
  margin-top: 40px;
}

h3 {
  margin-top:60px;
  margin-bottom:20px;
  overflow:hidden;
  letter-spacing: 4px;
  color: $orange;
}
h3:after{
  content:'';
  display:inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  border-bottom:1px solid $orange;
}


table.summary {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.summary  td, table.summary  td {
  border: 1px solid #888;
  padding: 8px;
}

table.summary tr:nth-child(odd){
    background-color: #f2f2f2;
}

table.summary tr:hover {
    background-color: $beige;
}

table.summary th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $gold;
  color: white;
}


h2 {
    text-align: left;
  overflow:hidden;
  letter-spacing: 4px;
  color: $orange;
}
h2:after{
  content:'';
  display:inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  border-bottom:1px solid $orange;
}