<header class="site-header">
  
  <div id="main">
    <div id="submain">
      
      <div class="arrow-left">
      </div>
      
	<div class="arrow-right">
	</div>
	
	<div id ="logo">
	  <div class="round" style="width: 120px; height:120px">
	    <img src="/images/avatar.png">
	  </div>

	  <div style="display:table; margin:0 auto;">
	    <ul id="nav">
	      <li><a class="site-title" href="http://ameroyer.github.io/"> home</a></li>
	      <li> <i class="fa fa-times" aria-hidden="true"></i> </li>
	    <li><a class="site-title" href="{{ site.github_url }}/" target="_blank">github</a></li>
	      <li> <i class="fa fa-times" aria-hidden="true"></i> </li>
	    <li><a class="site-title" href="{{ site.home_url }}/" target="_blank">webpage</a></li>
	    </ul>
	    </div>
	</div>

    </div>
  </div>
</header>

