<header class="site-header">  
    <!-- Navigation -->
    <nav> 
      <ul>
	<li id = "home"><a href="http://pub.ist.ac.at/~aroyer/index.html"><i class="fa fa-home fa-3x"></i><span>home</span></a></li>
	<li id = "cv"><a href="http://pub.ist.ac.at/~aroyer/cv.html"><i class="fa fa-user fa-3x"></i><span>c.v.</span></a></li>
	<li id = "research"><a href="http://pub.ist.ac.at/~aroyer/research.html"><i class="fa fa-graduation-cap fa-3x"></i><span>research</span></a></li>
	<li id = "blog"><a class="current" href="http://ameroyer.github.io/"><i class="fa fa-pencil fa-3x"></i><span>blog</span></a></li>
	<li id = "notes"><a href="http://ameroyer.github.io/reading-notes" target="_blank"><i class="fa fa-book fa-3x"></i><span>reading notes</span></a></li>
	<li id ="name"> Amélie Royer</li>
      </ul>      
    </nav>
</header>

