<header class="site-header">
  
  <div id="main">
    <div id="submain">
      <div class="arrow-left" style="float:left">
      </div>
      <div style="top: 0; height: 100%; margin:0; padding:0">
	<div id ="logo" style="float: left">
	  <div class="round" style="width: 130px; height:130px">
	    <img src="/images/avatar.png">
	  </div>

	  <p>
	    <a class="site-title" href="{{ site.github_url }}/" target="_blank"><i class="fa fa-github fa-fw"></i> github</a>
	    

	    <a class="site-title" href="{{ site.home_url }}/" target="_blank" style="float:right">webpage <i class="fa fa-home fa-fw";></i></a>
	  </p>
	</div>

	<div class="arrow-right">
	</div>
      </div>
    </div>
  </div>
</header>
