/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        opacity: 0.5;
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-3;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin: 0;
  padding: 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-4;
  text-decoration: underline

  a + a {
    opacity: 0.5;
  }
}


/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }
}

td.archive__item-teaser {
  border: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  img {
    width: 75%;
  }
}

td.archive__item-description {
  border: 0;
  width: 85%;
  vertical-align: top;
}

a.rel_link {
  color: $text-color;
}

a.rel_link:hover {
  color: $text-color;
}

/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}

/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    font-size: $type-size-6;
    display: none;
  }

  .archive__item-teaser, .archive__item-teaser img {
    width: 100%;
    height: auto;
    border: 1px
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-excerpt {
      display: block;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

/* Abstract and Bibtex hidden divs*/
div.abstract, div.bibtex {
  display: none;
  margin-top: 10px;
  border-left: 6px solid $border-color;
  font-size: $type-size-5;
  padding: 0 0 0 10px;
}

input[type=checkbox]:checked + label + div {
   display: block
}

/* Toggled Style */
.toggle {
  position: relative;
  display: inline-block;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 32px;
  height: 12px;
  display: inline-block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
  margin-right: 15px;
}
.toggle span {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 15px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: $link-color-visited;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

input[type=checkbox] {
  display: none
}

input[type=checkbox]:checked + .toggle:before {
  background: mix(#fff, $link-color, 75%);
}

input[type=checkbox]:checked + .toggle span {
  background: $link-color;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px $link-color-visited;
}

input[type=checkbox]:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.post_tags {
  font-size: $type-size-6;
  margin: 0;
  padding: 0 0 0 8px;
}

.subtitle {
  border-left: 3px solid $light-gray;
  color: $light-gray;
  padding: 0 0 0 8px;
  margin: 12px 0 0 0;
  font-size: $type-size-8;
  font-weight: normal
}
