/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include container;
  @include clearfix;
  margin-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
  animation: intro 0.3s both;
  animation-delay: 0.35s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }
}

.page {
  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
    @include suffix(1.4 of 12);
  }

  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}

.page__title {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__title a {
  margin-right: 10px;
  color: $text-color;
}

.page__title a:hover {
  color: $info-color;
}

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
}

.page__content {

  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
  }

  p, li, dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        opacity: 0.5;
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  animation: intro 0.3s both;
  animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: intro 0.3s both;
    animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-7;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 $border-radius 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__share-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  color: mix(#fff, $gray, 25%);
  font-family: $sans-serif;
  font-size: $type-size-6;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

.page__meta-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-right: 10px;
  }
}

.page__taxonomy-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid $light-gray;
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}


/*
   Comments
   ========================================================================== */

.page__comments {
  @include full();
}

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background: $lighter-gray;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix();
  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;

  @include breakpoint($large) {
    width: 100px;
    height: 100px;
  }
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($large) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);

  @include breakpoint($large) {
    width: calc(100% - 100px);
  }
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  @extend .page__meta;
  margin: 0;

  a {
    text-decoration: none;
  }
}


/*
   Related
   ========================================================================== */

.page__related {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;
  @include clearfix();
  float: left;

  @include breakpoint($large) {
    @include pre(2.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.page__related-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/*
   Individual pages style, e.g. for blog posts, portfolio items, etc
   ========================================================================== */

 /* Reading notes header */
.postthumb {
   width: 200px;
   height: 200px;
   border: 1px solid black;
}

.postthumb img {
   width: 100%;
   height: 100%;
}

.postheader {
  text-align: right;
  width:70%;
  float:right}

.postheader h1 {
 margin: 0;
 font-size: $type-size-2;
 color: $link-color;
}

.postheader p.view {
   color: $link-color;
   text-align: right;
   margin: 15px 0 0 0;
   padding: 0;
   line-height:20px
}

/* Styling for reading notes and notebooks */
.postcontent {
  clear: both;
  padding-top: 25px;

  .pros {
      color: $success-color;
      font-weight: bold
  }

  .cons {
      color: $danger-color ;
      font-weight: bold
  }

  .summary {
      background-color: #fcfcfc;
      margin-bottom: 45px;
      padding: 10px;
      border: #eaeaea solid;
      border-left: 15px  #eaeaea solid;
  }

  .summary ul {
      margin-bottom: 0;
      margin-top: 10px
  }

  /* Reading notes content */
  .figure {
      width: 88%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 42px;
      color: #444444;
      text-align: center;
  }

  h2.section:before{
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 6px;
      vertical-align: middle;
  }

  h2.references:before{
      content: "\f02d";
  }

  h2.experiments:before{
      content: "\f492";
  }

  h2.dataset:before{
      content: "\f03e";
  }

  h2.theory:before{
      content: "\f51c";
  }

  h2.proposed:before{
      content: "\f0eb";
  }

  h2.sota:before{
      content: "\f1da";
  }

  h2.followup:before{
      content: "\f04e";
  }

  h2, h3 {
      color: $link-color
  }

  em {
      color: $dribbble-color;
      font-style: normal;
  }
   .citations {
     font-weight: 550;
     color: $link-color-visited
   }
}

a.external {
  display: block;
  text-decoration: none;
  position: relative;
}

a.external::after{
  content: "";
  background: $link-color;
  width: calc(100% + 12px);
  height: 0;
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: -6px;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a.external:hover {
  color: white
}

a.external:hover::after{
  height: calc(100% + 4px)
}


img.long_result {  
  display: none;
}

label.long_result {
  display: block;
  width: 100%;
  padding: 1px;
  color: $link-color;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border: 1px solid transparent;
  
  &:hover {
    border: 1px solid $link-color-visited;
  }
}

label.long_result:before {
  content: "\25be";
  margin-right: 20px;
  margin-left: 5px;
  font-size: $type-size-4;
  color: $link-color;
}

input[type=checkbox]:checked + label {
  background-color: $link-color;
  color: white;
}

input[type=checkbox]:checked + label.long_result:before {
  content: "\25b4";
  color: white;
}

input[type=checkbox]:checked + label +  img {
  display: block;
}

