.d3-component svg {
    background: #ddd;
    max-height: 300px;
}

@media all and (max-width: 1000px) {
    .d3-component svg {
	max-height: 200px;
    }
}

.definition{
    text-align: center;
    font-style: italic;
    background: #EEEEEE;
    padding: 12px;
    border-radius: 15px;
    margin-bottom: 25px
}

.figure {
    text-align: center;
    margin-bottom: 35px;
}

.simulate {
    border: 1px black solid;
    padding: 5px;
    vertical-align: center;
    background-color: #EEE;
    font-size: 16px
}

.equation {
    border: 1px black solid;
    width: 72%;
    margin: auto;
    background: #EEEEEE;
    margin-bottom: 23px
}

.simulate:hover {
    background-color: Tomato;
}

.detail {
    padding: 10px;
    font-size: 14px;
    border: 1px solid Tomato
}


.detail:before, .detail:after {
		    content:"\A";
		    border-style: solid;
		    border-width: 7px 10px 7px 0;
		    position: absolute;
		    top: 8px;
		}

.detail:before {
    border-color: transparent Tomato transparent transparent;
    left: -10px;
}

.detail:after {
    border-color: transparent white transparent transparent;
    left: -9px;
}

.text_detail {
    color: Tomato;
    border-bottom: 1px dashed Tomato;
}

.popa{
    color: Orange;
}

.popb{
    color: CornflowerBlue;
}


.legend_lines {
    color: PowderBlue;
    font-weight: bold;
}

.legend_circles {
    color: Tomato;
    font-weight: bold;
}

h1 {
    margin-top: 50px;
    border-bottom:1px solid #BBB;
    padding-bottom:3px;
}

h3 {
    margin-top: 30px;
}

h4 {
    margin-top: 60px
}

a {
    color: Tomato;
    text-decoration: none
}

a:hover { 
    text-decoration: underline
}